/**
 * @Author: schwarze_falke
 * @Date:   2018-11-20T01:59:23-06:00
 * @Last modified by:   schwarze_falke
 * @Last modified time: 2018-11-20T03:16:32-06:00
 */
 @import "https://fonts.googleapis.com/css?family=Karla";
 * {
   box-sizing: border-box;
 }

 :root {
   --primary: rgba(237, 30, 111, 1);
   --secondary: rgba(117, 119, 128, 1);
   --highlight: rgba(239, 62, 54, 1);
   --dark: rgba(7, 16, 19, 1);
   --light: rgba(255, 255, 255, 1);
   --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
 }

 header {
   position: inherit;
   padding: 0 0 0 460px;
   -webkit-transform-style: preserve3d;
           transform-style: preserve3d;
   -webkit-perspective: 3000px;
           perspective: 3000px;
 }

 .menu {
   list-style: none;
   margin: 0;
   padding-left: 0;
   display: flex;
   justify-content: center;
 }
 .menu a {
   padding: 20px 20px;
   display: block;
   text-decoration: none;
   color: white;
 }
 .menu__item {
   position: relative;
 }
 .menu__item:hover > .sub-menu-shadow {
   display: block;
 }
 .menu .sub-menu-shadow {
   position: absolute;
   display: none;
 }

 .dropdown-holder {
   position: absolute;
   width: 100%;
   left: 0;
   top: 100%;
 }
 .dropdown__bg, .dropdown__arrow {
   position: absolute;
 }
 .dropdown__arrow {
   width: 0;
   height: 0;
   border-width: 10px;
   border-style: solid;
   border-color: transparent transparent white;
   top: -20px;
   opacity: 0;
   transition: .20s ease;
   pointer-events: none;
 }
 .dropdown__bg {
   width: 450px;
   height: 400px;
   background-color: white;
   opacity: 0;
   transition: .25s ease;
   border-radius: 5px;
   overflow: hidden;
   z-index: -1;
 }
 .dropdown__bg-bottom {
   background-color: #fafafa;
   position: absolute;
   width: 100%;
   left: 0;
   top: 300px;
   height: 700px;
   transition: .3s ease;
 }
 .dropdown__wrap {
   overflow: hidden;
   position: absolute;
   transition: .25s ease;
   z-index: 1;
 }
 .dropdown__wrap .top-section, .dropdown__wrap .bottom-section {
   padding: 20px;
 }
 .dropdown-menu__content {
   position: absolute;
   opacity: 0;
   transition: .25s ease;
   min-width: 200px;
 }
 .dropdown-menu__content ul {
   list-style: none;
   padding-left: 0;
   margin: 0;
 }
 .dropdown-menu__content a {
   color: inherit;
   text-decoration: none;
   display: block;
   padding: 5px 0;
 }
 .dropdown-menu__content a:hover {
   color: #333;
 }
 .dropdown-menu.active .dropdown-menu__content {
   opacity: 1;
 }

 #forum .dropdown-menu__content {
   width: 640px;
 }

 #schedule .dropdown-menu__content {
   width: 400px;
 }

 .col-2 {
   display: flex;
 }
 .col-2 > ul, .col-2 > div {
   flex: 1 0 150px;
 }

 #forum .col-2 li {
   display: block;
   padding: 20px 20px 10px;
 }
 #forum .col-2 li h3 {
   font-size: 18px;
   margin: 0 0 10px;
   color: turquoise;
 }
 #forum .col-2 li p {
   color: #999;
   margin: 0;
 }

 .menu-title {
   margin: 0 0 10px;
   font-size: 18px;
   color: #2196F3;
 }

 .info {
   line-height: 1.7;
 }
