<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1, user-scalable=no">
  <title>QCI Ayuda ─ Mapa</title>
  <link rel="stylesheet" href="../css/library.css">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/subject.css">
  <link rel="stylesheet" href="../css/map.css">
</head>

<body>
  <div class="container">

  <nav class="nav-collapse" role="navigation">
    <a class="brand" style="margin: 0; float: none; text-align:center" href="#">
      <img src="../img/logo.png" /></a>
    <ul class="tabs primary-nav">
      <li class="tabs__item">
        <a href="thread.html" class="tabs__link">Foro</a>
      </li>
      <li class="tabs__item">
        <a href="map.html" class="tabs__link">Mapa del CU</a>
      </li>
      <li class="tabs__item">
        <a href="subject.html" class="tabs__link">Horarios</a>
      </li>
      <li class="tabs__item">
        <a href="#" class="tabs__link">Ayuda!</a>
      </li>
    </ul>
  </nav>

<div class="fondo">
  <div id="googleMap" style="width:80%;height:400px;margin: 30px;"></div>

  <script>
    function myMap() {
      var mapProp = {
        center: new google.maps.LatLng(20.658101, -103.325082),
        zoom: 16,
      };
      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
      map.data.loadGeoJson('resources/map.json');
    }
  </script>

  <div class="alinear">
    <form class="" action="index.html" method="post">
      En que edificio te encuentras?
    <input type="text" name="" value="" class="textbox" placeholder="">
    A que edificio te diriges?
    <input type="text" name="" value="" class="textbox" placeholder="">
    </form>

  </div>
</div>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpJM4eS1Up-h7dBY-9eoDezjf3aO-gyfs&callback=myMap" async defer></script>
</div>
</body>

</html>
