<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/subject.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Subject</title>
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <a href="#"><img class="logo" src="../img/logo.png" alt="qci-ayuda" height="100"></a>
        <ul class="menu">
          <li class="menu__item" data-sub="forum"><a href="views/topic.html">Foro</a></li>
          <li class="menu__item" data-sub="schedule"><a href="views/subject.html">Horarios</a></li>
          <li data-sub="map"><a href="views/map.html">Mapa</a></li>
          <li data-sub="about"><a href="#">Acerca del sitio</a></li>
        </ul>
        <div class="dropdown-holder">
          <div class="dropdown__arrow"></div>
          <div class="dropdown__bg">
            <div class="dropdown__bg-bottom"></div>
          </div>
          <div class="dropdown__wrap">
            <div class="dropdown-menu" id="forum" data-sub="forum">
              <div class="dropdown-menu__content">
                <div class="top-section">
                  <div class="col-2">
                    <ul>
                      <li><a href="">
                          <h3>Ayuda general</h3>
                          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </a></li>
                      <li><a href="">
                          <h3>Anuncios</h3>
                          <p> consectetur adipisicing elit nesciunt! Assumenda, adipisci.</p>
                        </a></li>
                    </ul>
                    <ul>
                      <li><a href="">
                          <h3>Variados</h3>
                          <p> Lorem ipsum dolor sit amet, consectetur </p>
                        </a></li>
                      <li><a href="">
                          <h3>Recomendaciones</h3>
                          <p> ipsum dolor sit amet, consectetur adipisicing elit. .</p>
                        </a></li>
                    </ul>
                  </div>
                </div>
                <div class="bottom-section"></div>
              </div>
            </div>
            <div class="dropdown-menu" id="schedule" data-sub="schedule">
              <div class="dropdown-menu__content">
                <div class="top-section">
                  <div class="col-2">
                    <div>
                      <h2 class="menu-title">Por NRC</h2>
                    </div>
                    <div>
                      <h2 class="menu-title">Por Carrera</h2>
                    </div>
                  </div>
                </div>
                <div class="bottom-section info"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <table>
        <tr>
          <th>Materia</th>
          <th>Seccion</th>
          <th>Aula</th>
          <th>Maestro</th>
          <th>Dias y Horas</th>
        </tr>
        <tr>
          <td>Seguridad</td>
          <td>D05</td>
          <td>X07</td>
          <td>Soto</td>
          <td>M-J 7-8:55</td>
        </tr>
        <tr>
          <td>Seguridad</td>
          <td>D05</td>
          <td>X07</td>
          <td>Soto</td>
          <td>M-J 7-8:55</td>
        </tr>
        <tr>
          <td>Seguridad</td>
          <td>D05</td>
          <td>X07</td>
          <td>Soto</td>
          <td>M-J 7-8:55</td>
        </tr>
        <tr>
          <td>Seguridad</td>
          <td>D05</td>
          <td>X07</td>
          <td>Soto</td>
          <td>M-J 7-8:55</td>
        </tr>
      </table>
      <form class="submission">
        <label for="NRC">
          Nrc
        </label>
        <input type="text" name="nrc" id="nrc">
        <input class="btn_login" type="submit" id="send_btn" value="Send">
      </form>
    </div>
<script type="text/javascript" src="scripts/script.js"></script>
  </body>
</html>
