<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="../css/thread.css">
    <title>Thread</title>
  </head>
  <body>

    <nav class="nav-collapse" role="navigation">
        <!-- <a class="brand" style="margin: 0; float: none; text-align:center" href="#">
        <img src="logo.png" /></a> -->
        <ul class="tabs primary-nav">
          <li class="tabs__item">
            <a href="topic.html" class="tabs__link">Foro</a>
          </li>
          <li class="tabs__item">
            <a href="views/map.html" class="tabs__link">Mapa del CU</a>
          </li>
          <li class="tabs__item">
            <a href="#" class="tabs__link">Horarios</a>
          </li>
          <li class="tabs__item">
            <a href="#" class="tabs__link">Ayuda!</a>
          </li>
        </ul>
    </nav>

      <div class="header">
        <h1 class="title-forum"> <a href="#">Topics</a> </h1>
        <h1 class="title-forum">-</h1>
        <h1 class="title-forum"> <a href="#">Threads</a> </h1>
        <input class="search" type="text" placeholder="Search..">
      </div>

      <div class="cards-deck">

        <div class="card">
          <img src="food.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Comida</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </div>

        <div class="card">
          <img src="food.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Comida</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </div>

        <div class="card">
          <img src="food.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Comida</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </div>

        <div class="card">
          <img src="food.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Comida</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </div>

        <div class="card">
          <img src="food.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Comida</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </div>

        <div class="card">
          <img src="food.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Comida</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </div>

        <div class="card">
          <img src="food.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Comida</b></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut aborum.</p>
          </div>
        </div>

        <div class="card">
          <img src="food.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Comida</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </div>

      </div>
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a href="#">&raquo;</a>
      </div>
  </body>
</html>
