<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="../css/forum.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Forum</title>
  </head>
  <body>

    <header class="main-header">
      <a href="#"><img class="logo" src="img/logo.png" alt="qci-ayuda" height="100"></a>
      <ul class="menu">
        <li class="menu__item" data-sub="forum"><a href="views/topic.html">Foro</a></li>
        <li class="menu__item" data-sub="schedule"><a href="views/subject.html">Horarios</a></li>
        <li data-sub="map"><a href="views/map.html">Mapa</a></li>
        <li data-sub="about"><a href="#">Acerca del sitio</a></li>
      </ul>
      <div class="dropdown-holder">
        <div class="dropdown__arrow"></div>
        <div class="dropdown__bg">
          <div class="dropdown__bg-bottom"></div>
        </div>
        <div class="dropdown__wrap">
          <div class="dropdown-menu" id="forum" data-sub="forum">
            <div class="dropdown-menu__content">
              <div class="top-section">
                <div class="col-2">
                  <ul>
                    <li><a href="">
                        <h3>Ayuda general</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      </a></li>
                    <li><a href="">
                        <h3>Anuncios</h3>
                        <p> consectetur adipisicing elit nesciunt! Assumenda, adipisci.</p>
                      </a></li>
                  </ul>
                  <ul>
                    <li><a href="">
                        <h3>Variados</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur </p>
                      </a></li>
                    <li><a href="">
                        <h3>Recomendaciones</h3>
                        <p> ipsum dolor sit amet, consectetur adipisicing elit. .</p>
                      </a></li>
                  </ul>
                </div>
              </div>
              <div class="bottom-section"></div>
            </div>
          </div>
          <div class="dropdown-menu" id="schedule" data-sub="schedule">
            <div class="dropdown-menu__content">
              <div class="top-section">
                <div class="col-2">
                  <div>
                    <h2 class="menu-title">Por NRC</h2>
                  </div>
                  <div>
                    <h2 class="menu-title">Por Carrera</h2>
                  </div>
                </div>
              </div>
              <div class="bottom-section info"></div>
            </div>
          </div>
        </div>
      </div>
    </header>

      <div class="header">
        <h1 class="title-forum"> <a href="#">Topics</a> </h1>
        <input class="search" type="text" placeholder="Search..">
      </div>

      <div class="cards-deck">

        <a href="thread.html" class="card">

            <img src="../img/food.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Comida</b></h4>
              <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
            </div>

        </a>

        <a href="thread.html" class="card">

          <img src="../img/book.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Tareas</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </a>


          <a href="thread.html" class="card">
          <img src="../img/viaje.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Viajes</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </a>

        <a href="thread.html" class="card">
          <img src="../img/deporte.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Deportes</b></h4>
            <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
          </div>
        </a>

        <a href="thread.html" class="card">

            <img src="../img/food.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Comida</b></h4>
              <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
            </div>

        </a>

        <a href="thread.html" class="card">

            <img src="../img/food.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Comida</b></h4>
              <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
            </div>

        </a>

        <a href="thread.html" class="card">

            <img src="../img/food.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Comida</b></h4>
              <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
            </div>

        </a>

        <a href="thread.html" class="card">

            <img src="../img/food.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Comida</b></h4>
              <p>Recomendacion de comida en todas las areas dentro y fuera de cucei</p>
            </div>

        </a>

      </div>
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a href="#">&raquo;</a>
      </div>
  </body>
</html>
